{% extends 'blog/base.html' %}

{% block title %}
    Delete Blog 
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2>Are you Sure you Want to Delete this Entry</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-custom-red mt-3">Confirm Delete</button>
        </form>
        <a href="{% url 'read' %}" class="btn btn-primary mt-2">Cancel</a>
    </div>

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
    
    <!-- Flatpickr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            flatpickr("#id_timestamp", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
        });
    </script>
{% endblock content %}
